Unit]
Description=Polkadot Node
After=network.target

[Service]
User={{ user }}
Group={{ user }}
ExecStart=/usr/local/bin/polkadot --{{ name }} --validator --chain "/home/{{ user }}/rococo-custom-2-raw.json" {% if node_key is defined %} --node-key={{ node_key }} {% endif %} {% if bootnode is defined %} --bootnodes {{ bootnode }} {% endif %} --unsafe-rpc-external --rpc-methods=unsafe --rpc-cors all --prometheus-external
Restart=always
RestartSec=3
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
