[Unit]
Description=Gear Node
After=network.target

[Service]
Type=simple
User={{ user }}
Group={{ user }}
ExecStart=/usr/local/bin/gear-node --name '{{ node_name }}' --port {{ port_p2p }} --rpc-port {{ port_http }} --ws-port {{ port_ws }} --rpc-cors all
    {%- if telemetry is defined %} --telemetry-url '{{ telemetry }}/submit 0'{% endif %}
    {%- if bootnode is defined %} --bootnodes {{ bootnode }}{% endif %}
    {%- if chain is defined %} --chain {{ chain }}{% endif %}
    {%- if collator is defined %} --collator{% endif %}
    {%- if force_authoring is defined and force_authoring == "yes" %} --force-authoring{% endif %}
    {%- if node_key is defined %} --node-key {{ node_key }}{% endif %}
    {%- if validator is defined %} --validator{% endif %}
    {%- if relay is defined %} -- --execution wasm
        {%- if relay.bootnode is defined %} --bootnodes {{ relay.bootnode }}{% endif %}
        {%- if relay.chain is defined %} --chain {{ relay.chain }}{% endif %}
        {%- if relay.port_p2p is defined %} --port {{ relay.port_p2p }}{% endif %}
        {%- if relay.port_ws is defined %} --ws-port {{ relay.port_ws }}{% endif %}
    {%- endif %}

Restart=always
RestartSec=3
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
