[Unit]
Description=Rococo Node
After=network.target

[Service]
Type=simple
User={{ item.name }}
Group={{ item.name }}
{% if item.debug is defined and item.debug %}Environment="RUST_LOG=debug,netlink_proto::connection=info,netlink_proto::codecs=info"{% endif %}

ExecStart=/usr/local/bin/polkadot --{{ item.name }} --validator --rpc-cors all
    {%- if item.chain is defined %} --chain "/home/{{ item.name }}/rococo-{{ item.chain }}-raw.json"{% endif %}
    {%- if item.node_key is defined %} --node-key {{ item.node_key }}{% endif %}
    {%- if item.port_p2p is defined %} --port {{ item.port_p2p }}{% endif %}
    {%- if item.port_ws  is defined %} --ws-port {{ item.port_ws }}{% endif %}
    {%- if item.telemetry is defined %} --telemetry-url "{{ item.telemetry }}/submit 0"{% endif %}

Restart=always
RestartSec=3
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
