<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vara Node DB Snapshots</title>
</head>

<body>

<h1>{{ ansible_date_time.date }}, {{ ansible_date_time.time }} (UTC)</h1>

{% for item in nodes %}
    <h2>{{ item.title }}</h2>
    <ul>
        <li>Best block: <b>#{{ (block_number.results[loop.index - 1].stdout | from_json).best_number }}</b></li>
        <li>Finalized block: <b>#{{ (block_number.results[loop.index - 1].stdout | from_json).finalized_number }}</b></li>
        <li><a href="{{ item.file_name }}.tar.xz">{{ item.file_name }}.tar.xz</a> ({{ (db_stats.results[loop.index - 1].stat.size / 1048576) | round(2) }} Mbytes)</li>
    </ul>
{% endfor %}

</body>
</html>
