[Unit]
Description=Vara Node
After=network.target

[Service]
Type=simple
User={{ item.user }}
Group={{ item.user }}

ExecStart=/usr/local/bin/{{ executable }} --rpc-cors all
    {%- if node_name is defined %} --name "{{ node_name }}"{% endif %}
    {%- if item.port_p2p is defined %} --port {{ item.port_p2p }}{% endif %}
    {%- if item.port_http is defined %} --rpc-port {{ item.port_http }}{% endif %}
    {%- if item.port_ws is defined %} --ws-port {{ item.port_ws }}{% endif %}
    {%- if item.telemetry is defined %} --telemetry-url "{{ item.telemetry }}/submit 0"{% endif %}
    {%- if item.bootnode is defined %} --bootnodes {{ item.bootnode }}{% endif %}
    {%- if item.chain is defined %} --chain {{ item.chain }}{% endif %}
    {%- if item.node_key is defined %} --node-key {{ item.node_key }}{% endif %}
    {%- if item.validator is defined and item.validator %} --validator{% endif %}

Restart=always
RestartSec=3
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
